.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.173340;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.133301;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.740234;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.101562;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-2.651997px;}
._2{width:1.260000px;}
._1{width:3.916000px;}
.fca{color:rgb(162,76,18);}
.fc3{color:rgb(0,0,0);}
.fc2{color:rgb(193,90,22);}
.fc4{color:rgb(32,33,36);}
.fc1{color:rgb(255,255,255);}
.fc7{color:rgb(13,13,13);}
.fc5{color:rgb(4,12,40);}
.fc6{color:rgb(55,65,81);}
.fc8{color:rgb(5,47,97);}
.fc0{color:rgb(242,242,242);}
.fc9{color:rgb(255,0,0);}
.fs2{font-size:48.000000px;}
.fsc{font-size:56.000000px;}
.fsb{font-size:64.000000px;}
.fs7{font-size:68.000000px;}
.fs6{font-size:72.000000px;}
.fs9{font-size:76.000000px;}
.fs5{font-size:80.000000px;}
.fsd{font-size:88.000000px;}
.fsa{font-size:96.000000px;}
.fs4{font-size:104.000000px;}
.fs1{font-size:128.000000px;}
.fs8{font-size:160.000000px;}
.fs3{font-size:192.000000px;}
.fs0{font-size:216.000000px;}
.y0{bottom:0.000000px;}
.y5{bottom:17.510265px;}
.y19{bottom:26.762011px;}
.y5e{bottom:32.068592px;}
.y39{bottom:33.744377px;}
.y64{bottom:33.953003px;}
.y70{bottom:41.953247px;}
.y81{bottom:44.905701px;}
.y51{bottom:50.641743px;}
.y5d{bottom:53.668591px;}
.y63{bottom:55.553009px;}
.y6f{bottom:63.553246px;}
.y38{bottom:66.040665px;}
.y80{bottom:66.505695px;}
.y50{bottom:69.622517px;}
.y8f{bottom:70.833618px;}
.y5c{bottom:75.268589px;}
.y18{bottom:77.152084px;}
.y62{bottom:77.153004px;}
.y6e{bottom:85.153244px;}
.y1e{bottom:87.046066px;}
.y7f{bottom:88.105694px;}
.y4{bottom:88.247772px;}
.y8e{bottom:94.833618px;}
.y61{bottom:98.753002px;}
.y17{bottom:103.791214px;}
.y43{bottom:106.452682px;}
.y6d{bottom:106.753242px;}
.y5a{bottom:109.385193px;}
.y7e{bottom:109.705692px;}
.y29{bottom:114.823593px;}
.y33{bottom:116.741089px;}
.y8d{bottom:118.833618px;}
.y60{bottom:120.353001px;}
.yd{bottom:124.585510px;}
.y6c{bottom:128.353241px;}
.y16{bottom:131.992035px;}
.y4f{bottom:132.098228px;}
.y42{bottom:135.519974px;}
.y59{bottom:141.305191px;}
.y8c{bottom:142.756796px;}
.y32{bottom:149.141083px;}
.y6b{bottom:149.953239px;}
.y4e{bottom:153.698235px;}
.yc{bottom:159.385483px;}
.y15{bottom:160.483871px;}
.y58{bottom:162.905182px;}
.y41{bottom:166.332687px;}
.y7d{bottom:166.615997px;}
.y6a{bottom:171.553238px;}
.y4d{bottom:175.298233px;}
.y31{bottom:179.544849px;}
.y28{bottom:182.183609px;}
.y7c{bottom:188.215992px;}
.y3{bottom:190.083435px;}
.y88{bottom:191.025543px;}
.y1d{bottom:191.446068px;}
.y95{bottom:193.030487px;}
.y57{bottom:194.825180px;}
.yb{bottom:196.171906px;}
.y4c{bottom:196.898233px;}
.y14{bottom:197.418991px;}
.y40{bottom:197.470612px;}
.y30{bottom:203.037369px;}
.y7b{bottom:209.815990px;}
.y87{bottom:212.625538px;}
.y27{bottom:215.863617px;}
.y56{bottom:216.425179px;}
.y94{bottom:217.030487px;}
.y13{bottom:225.711197px;}
.y1c{bottom:226.246071px;}
.y7a{bottom:231.415989px;}
.y86{bottom:234.225536px;}
.y3f{bottom:238.045166px;}
.ya{bottom:240.985489px;}
.y93{bottom:241.030487px;}
.y4b{bottom:242.107506px;}
.y75{bottom:245.343739px;}
.y55{bottom:249.255669px;}
.y37{bottom:252.398716px;}
.y12{bottom:254.503860px;}
.y2{bottom:254.883438px;}
.y85{bottom:255.825535px;}
.y1b{bottom:260.852865px;}
.y4a{bottom:263.707504px;}
.y92{bottom:265.030487px;}
.y74{bottom:266.943737px;}
.y3e{bottom:268.959976px;}
.y11{bottom:273.943855px;}
.y9{bottom:275.592293px;}
.y54{bottom:275.655674px;}
.y36{bottom:275.891235px;}
.y2f{bottom:279.112938px;}
.y26{bottom:283.223610px;}
.y49{bottom:285.307505px;}
.y73{bottom:288.543736px;}
.y91{bottom:289.030487px;}
.y2e{bottom:300.712944px;}
.y10{bottom:303.547363px;}
.y25{bottom:308.903610px;}
.y53{bottom:312.855677px;}
.y90{bottom:312.953665px;}
.y3d{bottom:318.205170px;}
.y1{bottom:319.683437px;}
.y2d{bottom:322.312943px;}
.y79{bottom:329.987202px;}
.y48{bottom:332.147911px;}
.y8{bottom:332.232288px;}
.yf{bottom:333.263767px;}
.y84{bottom:333.751034px;}
.y21{bottom:334.900871px;}
.y72{bottom:335.054180px;}
.y35{bottom:337.959339px;}
.y3c{bottom:338.725174px;}
.y24{bottom:342.583612px;}
.y2c{bottom:343.912943px;}
.y78{bottom:351.587200px;}
.y47{bottom:353.747910px;}
.y83{bottom:355.351032px;}
.y71{bottom:356.654179px;}
.y8b{bottom:358.724831px;}
.y34{bottom:361.451859px;}
.ye{bottom:364.309984px;}
.y2b{bottom:364.931366px;}
.y7{bottom:368.340061px;}
.y65{bottom:368.501423px;}
.y3b{bottom:369.639980px;}
.y20{bottom:369.700874px;}
.y77{bottom:373.187199px;}
.y46{bottom:375.347910px;}
.y66{bottom:375.650089px;}
.y98{bottom:380.245331px;}
.y52{bottom:380.663868px;}
.y2a{bottom:386.531366px;}
.y97{bottom:395.931393px;}
.y69{bottom:396.496883px;}
.y8a{bottom:398.437437px;}
.y3a{bottom:400.305858px;}
.y1f{bottom:404.307669px;}
.y67{bottom:410.557659px;}
.y6{bottom:413.125954px;}
.y22{bottom:415.269588px;}
.y5b{bottom:423.965313px;}
.y45{bottom:425.284290px;}
.y76{bottom:425.284367px;}
.y68{bottom:429.158916px;}
.y82{bottom:429.158993px;}
.y5f{bottom:433.973858px;}
.y89{bottom:450.508949px;}
.y96{bottom:455.047615px;}
.y1a{bottom:457.994148px;}
.y44{bottom:466.194304px;}
.y23{bottom:470.955881px;}
.h13{height:40.769531px;}
.h3{height:44.414062px;}
.h12{height:46.593750px;}
.hb{height:49.505859px;}
.h9{height:52.417969px;}
.h10{height:55.330078px;}
.h7{height:58.242188px;}
.hd{height:64.371094px;}
.ha{height:65.642578px;}
.he{height:66.621094px;}
.h8{height:69.503906px;}
.hf{height:73.365234px;}
.h15{height:74.023438px;}
.h6{height:77.226562px;}
.h14{height:84.949219px;}
.h11{height:92.671875px;}
.h5{height:100.394531px;}
.h2{height:123.562500px;}
.hc{height:154.453125px;}
.h4{height:185.343750px;}
.h1{height:208.511719px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.xb{left:14.859444px;}
.x11{left:35.095764px;}
.x1b{left:38.245850px;}
.x13{left:40.710632px;}
.x5{left:42.958496px;}
.xa{left:44.874512px;}
.x9{left:53.564972px;}
.xf{left:66.141663px;}
.x1{left:82.677704px;}
.xe{left:83.892426px;}
.x2{left:93.520081px;}
.x1a{left:94.616455px;}
.x1c{left:107.818848px;}
.x1d{left:139.936691px;}
.x16{left:148.693222px;}
.x8{left:171.300491px;}
.xc{left:201.205750px;}
.xd{left:202.791687px;}
.x4{left:244.521713px;}
.x1f{left:302.777466px;}
.x7{left:347.315430px;}
.x1e{left:377.636154px;}
.x6{left:479.493896px;}
.x17{left:487.199951px;}
.x10{left:528.814636px;}
.x19{left:646.632385px;}
.x18{left:661.973328px;}
.x14{left:676.230225px;}
.x12{left:685.483948px;}
.x15{left:708.050842px;}
.x3{left:816.032593px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-3.535996pt;}
._2{width:1.680000pt;}
._1{width:5.221333pt;}
.fs2{font-size:64.000000pt;}
.fsc{font-size:74.666667pt;}
.fsb{font-size:85.333333pt;}
.fs7{font-size:90.666667pt;}
.fs6{font-size:96.000000pt;}
.fs9{font-size:101.333333pt;}
.fs5{font-size:106.666667pt;}
.fsd{font-size:117.333333pt;}
.fsa{font-size:128.000000pt;}
.fs4{font-size:138.666667pt;}
.fs1{font-size:170.666667pt;}
.fs8{font-size:213.333333pt;}
.fs3{font-size:256.000000pt;}
.fs0{font-size:288.000000pt;}
.y0{bottom:0.000000pt;}
.y5{bottom:23.347020pt;}
.y19{bottom:35.682681pt;}
.y5e{bottom:42.758123pt;}
.y39{bottom:44.992503pt;}
.y64{bottom:45.270671pt;}
.y70{bottom:55.937663pt;}
.y81{bottom:59.874268pt;}
.y51{bottom:67.522324pt;}
.y5d{bottom:71.558121pt;}
.y63{bottom:74.070679pt;}
.y6f{bottom:84.737661pt;}
.y38{bottom:88.054220pt;}
.y80{bottom:88.674260pt;}
.y50{bottom:92.830022pt;}
.y8f{bottom:94.444824pt;}
.y5c{bottom:100.358119pt;}
.y18{bottom:102.869446pt;}
.y62{bottom:102.870672pt;}
.y6e{bottom:113.537659pt;}
.y1e{bottom:116.061422pt;}
.y7f{bottom:117.474258pt;}
.y4{bottom:117.663696pt;}
.y8e{bottom:126.444824pt;}
.y61{bottom:131.670670pt;}
.y17{bottom:138.388285pt;}
.y43{bottom:141.936910pt;}
.y6d{bottom:142.337657pt;}
.y5a{bottom:145.846924pt;}
.y7e{bottom:146.274256pt;}
.y29{bottom:153.098124pt;}
.y33{bottom:155.654785pt;}
.y8d{bottom:158.444824pt;}
.y60{bottom:160.470668pt;}
.yd{bottom:166.114014pt;}
.y6c{bottom:171.137655pt;}
.y16{bottom:175.989380pt;}
.y4f{bottom:176.130971pt;}
.y42{bottom:180.693298pt;}
.y59{bottom:188.406921pt;}
.y8c{bottom:190.342395pt;}
.y32{bottom:198.854777pt;}
.y6b{bottom:199.937653pt;}
.y4e{bottom:204.930979pt;}
.yc{bottom:212.513977pt;}
.y15{bottom:213.978495pt;}
.y58{bottom:217.206909pt;}
.y41{bottom:221.776917pt;}
.y7d{bottom:222.154663pt;}
.y6a{bottom:228.737651pt;}
.y4d{bottom:233.730977pt;}
.y31{bottom:239.393133pt;}
.y28{bottom:242.911479pt;}
.y7c{bottom:250.954656pt;}
.y3{bottom:253.444580pt;}
.y88{bottom:254.700724pt;}
.y1d{bottom:255.261424pt;}
.y95{bottom:257.373983pt;}
.y57{bottom:259.766907pt;}
.yb{bottom:261.562541pt;}
.y4c{bottom:262.530978pt;}
.y14{bottom:263.225321pt;}
.y40{bottom:263.294149pt;}
.y30{bottom:270.716492pt;}
.y7b{bottom:279.754654pt;}
.y87{bottom:283.500717pt;}
.y27{bottom:287.818156pt;}
.y56{bottom:288.566905pt;}
.y94{bottom:289.373983pt;}
.y13{bottom:300.948263pt;}
.y1c{bottom:301.661428pt;}
.y7a{bottom:308.554652pt;}
.y86{bottom:312.300715pt;}
.y3f{bottom:317.393555pt;}
.ya{bottom:321.313985pt;}
.y93{bottom:321.373983pt;}
.y4b{bottom:322.810008pt;}
.y75{bottom:327.124985pt;}
.y55{bottom:332.340892pt;}
.y37{bottom:336.531621pt;}
.y12{bottom:339.338481pt;}
.y2{bottom:339.844584pt;}
.y85{bottom:341.100713pt;}
.y1b{bottom:347.803820pt;}
.y4a{bottom:351.610006pt;}
.y92{bottom:353.373983pt;}
.y74{bottom:355.924983pt;}
.y3e{bottom:358.613302pt;}
.y11{bottom:365.258474pt;}
.y9{bottom:367.456390pt;}
.y54{bottom:367.540899pt;}
.y36{bottom:367.854980pt;}
.y2f{bottom:372.150584pt;}
.y26{bottom:377.631480pt;}
.y49{bottom:380.410006pt;}
.y73{bottom:384.724981pt;}
.y91{bottom:385.373983pt;}
.y2e{bottom:400.950592pt;}
.y10{bottom:404.729818pt;}
.y25{bottom:411.871480pt;}
.y53{bottom:417.140902pt;}
.y90{bottom:417.271553pt;}
.y3d{bottom:424.273560pt;}
.y1{bottom:426.244583pt;}
.y2d{bottom:429.750590pt;}
.y79{bottom:439.982936pt;}
.y48{bottom:442.863881pt;}
.y8{bottom:442.976384pt;}
.yf{bottom:444.351690pt;}
.y84{bottom:445.001378pt;}
.y21{bottom:446.534495pt;}
.y72{bottom:446.738907pt;}
.y35{bottom:450.612452pt;}
.y3c{bottom:451.633565pt;}
.y24{bottom:456.778150pt;}
.y2c{bottom:458.550591pt;}
.y78{bottom:468.782934pt;}
.y47{bottom:471.663879pt;}
.y83{bottom:473.801376pt;}
.y71{bottom:475.538905pt;}
.y8b{bottom:478.299774pt;}
.y34{bottom:481.935811pt;}
.ye{bottom:485.746646pt;}
.y2b{bottom:486.575155pt;}
.y7{bottom:491.120082pt;}
.y65{bottom:491.335231pt;}
.y3b{bottom:492.853307pt;}
.y20{bottom:492.934499pt;}
.y77{bottom:497.582932pt;}
.y46{bottom:500.463880pt;}
.y66{bottom:500.866786pt;}
.y98{bottom:506.993774pt;}
.y52{bottom:507.551824pt;}
.y2a{bottom:515.375155pt;}
.y97{bottom:527.908524pt;}
.y69{bottom:528.662511pt;}
.y8a{bottom:531.249916pt;}
.y3a{bottom:533.741144pt;}
.y1f{bottom:539.076892pt;}
.y67{bottom:547.410212pt;}
.y6{bottom:550.834605pt;}
.y22{bottom:553.692785pt;}
.y5b{bottom:565.287084pt;}
.y45{bottom:567.045720pt;}
.y76{bottom:567.045822pt;}
.y68{bottom:572.211889pt;}
.y82{bottom:572.211990pt;}
.y5f{bottom:578.631811pt;}
.y89{bottom:600.678599pt;}
.y96{bottom:606.730153pt;}
.y1a{bottom:610.658864pt;}
.y44{bottom:621.592405pt;}
.y23{bottom:627.941175pt;}
.h13{height:54.359375pt;}
.h3{height:59.218750pt;}
.h12{height:62.125000pt;}
.hb{height:66.007812pt;}
.h9{height:69.890625pt;}
.h10{height:73.773438pt;}
.h7{height:77.656250pt;}
.hd{height:85.828125pt;}
.ha{height:87.523438pt;}
.he{height:88.828125pt;}
.h8{height:92.671875pt;}
.hf{height:97.820312pt;}
.h15{height:98.697917pt;}
.h6{height:102.968750pt;}
.h14{height:113.265625pt;}
.h11{height:123.562500pt;}
.h5{height:133.859375pt;}
.h2{height:164.750000pt;}
.hc{height:205.937500pt;}
.h4{height:247.125000pt;}
.h1{height:278.015625pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.xb{left:19.812592pt;}
.x11{left:46.794352pt;}
.x1b{left:50.994466pt;}
.x13{left:54.280843pt;}
.x5{left:57.277995pt;}
.xa{left:59.832682pt;}
.x9{left:71.419963pt;}
.xf{left:88.188883pt;}
.x1{left:110.236938pt;}
.xe{left:111.856567pt;}
.x2{left:124.693441pt;}
.x1a{left:126.155273pt;}
.x1c{left:143.758464pt;}
.x1d{left:186.582255pt;}
.x16{left:198.257629pt;}
.x8{left:228.400655pt;}
.xc{left:268.274333pt;}
.xd{left:270.388916pt;}
.x4{left:326.028951pt;}
.x1f{left:403.703288pt;}
.x7{left:463.087240pt;}
.x1e{left:503.514872pt;}
.x6{left:639.325195pt;}
.x17{left:649.599935pt;}
.x10{left:705.086182pt;}
.x19{left:862.176514pt;}
.x18{left:882.631104pt;}
.x14{left:901.640299pt;}
.x12{left:913.978597pt;}
.x15{left:944.067790pt;}
.x3{left:1088.043457pt;}
}
