.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.983398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.113281;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.987305;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-5.508890px;}
._0{margin-left:-3.447250px;}
._3{margin-left:-1.445343px;}
._1{width:1.028000px;}
._4{width:118.100000px;}
.fc5{color:rgb(23,23,23);}
.fc4{color:rgb(13,46,70);}
.fc0{color:rgb(255,255,255);}
.fc2{color:rgb(0,0,0);}
.fc1{color:rgb(162,76,18);}
.fc3{color:rgb(32,33,34);}
.fsc{font-size:44.000000px;}
.fs8{font-size:56.000000px;}
.fs6{font-size:64.000000px;}
.fsa{font-size:68.000000px;}
.fs10{font-size:72.000000px;}
.fsf{font-size:74.000000px;}
.fse{font-size:76.000000px;}
.fs5{font-size:80.000000px;}
.fs7{font-size:88.000000px;}
.fs9{font-size:96.000000px;}
.fs2{font-size:112.000000px;}
.fs4{font-size:120.000000px;}
.fsd{font-size:128.000000px;}
.fs1{font-size:172.000000px;}
.fsb{font-size:176.000000px;}
.fs3{font-size:192.000000px;}
.fs0{font-size:216.000000px;}
.y44{bottom:-57.824875px;}
.y4a{bottom:-38.624878px;}
.y36{bottom:-32.229141px;}
.y0{bottom:0.000000px;}
.yab{bottom:7.486710px;}
.yc4{bottom:10.136536px;}
.y2e{bottom:16.729309px;}
.y66{bottom:20.753357px;}
.yaa{bottom:24.286713px;}
.ya6{bottom:31.406738px;}
.y2d{bottom:33.529312px;}
.y6e{bottom:39.460121px;}
.y65{bottom:39.953354px;}
.ya9{bottom:41.086712px;}
.y7{bottom:46.328594px;}
.y5b{bottom:46.817154px;}
.y21{bottom:48.057343px;}
.y2c{bottom:50.329315px;}
.y8f{bottom:51.806732px;}
.y35{bottom:54.890846px;}
.ya8{bottom:57.886715px;}
.y43{bottom:58.335106px;}
.y76{bottom:58.989883px;}
.y64{bottom:59.153351px;}
.y6d{bottom:59.860123px;}
.y80{bottom:64.856934px;}
.y5a{bottom:66.017159px;}
.y2b{bottom:67.129314px;}
.y3d{bottom:72.196617px;}
.y8e{bottom:72.206730px;}
.ya5{bottom:72.839249px;}
.y34{bottom:74.090851px;}
.ya7{bottom:74.686715px;}
.y42{bottom:77.535110px;}
.y75{bottom:78.189880px;}
.y63{bottom:78.353348px;}
.yb5{bottom:79.617752px;}
.y6{bottom:79.928596px;}
.y7f{bottom:81.656933px;}
.y8c{bottom:83.226608px;}
.y2a{bottom:83.929317px;}
.y59{bottom:85.217159px;}
.y9a{bottom:88.500290px;}
.y13{bottom:90.230972px;}
.y6c{bottom:90.340122px;}
.y8d{bottom:92.606728px;}
.y33{bottom:93.290855px;}
.y41{bottom:96.735115px;}
.y74{bottom:97.389885px;}
.y62{bottom:97.553352px;}
.yc3{bottom:98.175308px;}
.y7e{bottom:98.456934px;}
.y27{bottom:99.085037px;}
.y29{bottom:100.729318px;}
.y58{bottom:104.417160px;}
.y20{bottom:104.734802px;}
.ya4{bottom:107.639236px;}
.y12{bottom:109.430984px;}
.y6b{bottom:110.740120px;}
.y3c{bottom:111.507111px;}
.yb4{bottom:114.417740px;}
.y8b{bottom:115.626602px;}
.y40{bottom:115.935116px;}
.y73{bottom:116.589890px;}
.y61{bottom:116.753357px;}
.yc2{bottom:119.775314px;}
.y1f{bottom:120.094818px;}
.y99{bottom:120.900284px;}
.y32{bottom:122.330856px;}
.y57{bottom:123.617160px;}
.y39{bottom:129.476845px;}
.y3f{bottom:135.135117px;}
.y72{bottom:135.789894px;}
.y11{bottom:138.470993px;}
.y49{bottom:140.084564px;}
.yc1{bottom:141.375320px;}
.y31{bottom:141.530856px;}
.ya3{bottom:142.439224px;}
.y1e{bottom:145.294830px;}
.y60{bottom:145.793362px;}
.y8a{bottom:148.026596px;}
.yb3{bottom:149.217728px;}
.y98{bottom:153.300278px;}
.y3e{bottom:154.335116px;}
.y71{bottom:154.989895px;}
.y38{bottom:155.876846px;}
.y4{bottom:157.446045px;}
.y10{bottom:157.670990px;}
.y1d{bottom:160.654846px;}
.yc0{bottom:162.975342px;}
.y7c{bottom:163.451828px;}
.y5f{bottom:164.993362px;}
.y26{bottom:168.685028px;}
.y70{bottom:174.189896px;}
.ya2{bottom:177.239212px;}
.y48{bottom:177.616034px;}
.y89{bottom:180.426590px;}
.yb2{bottom:184.017715px;}
.y5e{bottom:184.193362px;}
.y37{bottom:184.644123px;}
.y97{bottom:185.700272px;}
.y1c{bottom:185.854858px;}
.yf{bottom:186.710983px;}
.y54{bottom:192.685043px;}
.y6f{bottom:193.389895px;}
.y1b{bottom:201.214874px;}
.ye{bottom:205.910980px;}
.ybf{bottom:206.175323px;}
.ya1{bottom:212.039215px;}
.y88{bottom:212.826584px;}
.y96{bottom:218.100266px;}
.yb1{bottom:218.817719px;}
.y3{bottom:222.246048px;}
.yd{bottom:225.110977px;}
.y6a{bottom:225.295776px;}
.y1a{bottom:226.414886px;}
.y7b{bottom:227.485031px;}
.ybe{bottom:227.775314px;}
.y25{bottom:238.285034px;}
.y19{bottom:241.774887px;}
.y14{bottom:244.310974px;}
.y87{bottom:245.226578px;}
.ya0{bottom:246.839218px;}
.y95{bottom:250.500259px;}
.yb0{bottom:253.617722px;}
.yc{bottom:254.150978px;}
.y24{bottom:262.285034px;}
.y53{bottom:262.285049px;}
.y47{bottom:263.544479px;}
.y18{bottom:266.974884px;}
.y51{bottom:267.165359px;}
.ybd{bottom:270.975296px;}
.yb{bottom:273.350983px;}
.y86{bottom:277.626572px;}
.y79{bottom:278.321861px;}
.y9f{bottom:281.639221px;}
.y17{bottom:282.334885px;}
.y94{bottom:282.900253px;}
.y3b{bottom:285.346153px;}
.y52{bottom:286.285042px;}
.y2{bottom:287.046051px;}
.yaf{bottom:288.417725px;}
.y7a{bottom:297.085037px;}
.y78{bottom:297.521862px;}
.y50{bottom:301.965363px;}
.y69{bottom:302.095787px;}
.ya{bottom:303.108269px;}
.y46{bottom:303.807419px;}
.y16{bottom:308.108719px;}
.y85{bottom:310.026573px;}
.ybc{bottom:314.175301px;}
.y93{bottom:315.300255px;}
.y9e{bottom:316.439217px;}
.yae{bottom:323.217720px;}
.y3a{bottom:325.609093px;}
.y4f{bottom:325.965363px;}
.y77{bottom:326.561862px;}
.y23{bottom:331.885044px;}
.ybb{bottom:335.775307px;}
.y15{bottom:339.852415px;}
.y9{bottom:340.087893px;}
.y84{bottom:342.426571px;}
.y92{bottom:347.700253px;}
.y68{bottom:348.415791px;}
.y9d{bottom:351.239220px;}
.y1{bottom:351.846050px;}
.y22{bottom:355.885044px;}
.yad{bottom:358.017723px;}
.y4e{bottom:360.765369px;}
.y83{bottom:374.826567px;}
.yba{bottom:378.975311px;}
.y91{bottom:380.100248px;}
.y4d{bottom:384.765369px;}
.y9c{bottom:386.039219px;}
.yac{bottom:392.817722px;}
.yb9{bottom:400.575312px;}
.y5c{bottom:401.156639px;}
.y8{bottom:413.125954px;}
.y2f{bottom:429.956638px;}
.yb8{bottom:431.940605px;}
.y90{bottom:433.846149px;}
.y28{bottom:434.700600px;}
.y81{bottom:434.818525px;}
.y4b{bottom:438.092625px;}
.y56{bottom:439.179157px;}
.yb6{bottom:440.624653px;}
.y45{bottom:444.692699px;}
.yb7{bottom:464.980997px;}
.y9b{bottom:465.482100px;}
.y5d{bottom:465.533201px;}
.y7d{bottom:466.194304px;}
.y4c{bottom:467.013987px;}
.y67{bottom:467.431467px;}
.y82{bottom:468.816824px;}
.y55{bottom:470.621073px;}
.y30{bottom:470.955881px;}
.y5{bottom:479.567881px;}
.h10{height:32.054688px;}
.h15{height:40.796875px;}
.ha{height:44.652344px;}
.h7{height:46.625000px;}
.hd{height:49.539062px;}
.h18{height:52.453125px;}
.h17{height:53.910156px;}
.hf{height:57.781250px;}
.h12{height:58.281250px;}
.h16{height:68.615234px;}
.h14{height:69.937500px;}
.h9{height:72.226562px;}
.h6{height:77.226562px;}
.h8{height:84.949219px;}
.hb{height:86.671875px;}
.h13{height:101.117188px;}
.h3{height:108.117188px;}
.hc{height:108.339844px;}
.h11{height:115.562500px;}
.h5{height:115.839844px;}
.he{height:158.898438px;}
.h2{height:166.037109px;}
.h4{height:185.343750px;}
.h1{height:208.511719px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.xc{left:14.859444px;}
.x8{left:17.031830px;}
.x25{left:21.023148px;}
.x2a{left:22.767578px;}
.x1b{left:25.136215px;}
.x1f{left:26.351654px;}
.x22{left:31.519135px;}
.x28{left:33.817017px;}
.x18{left:34.903229px;}
.x1{left:36.664276px;}
.x3{left:39.554962px;}
.x1d{left:40.710632px;}
.x19{left:43.709915px;}
.x5{left:49.839600px;}
.xb{left:53.157562px;}
.xe{left:58.519135px;}
.x29{left:92.021957px;}
.x9{left:192.705826px;}
.x13{left:218.109009px;}
.x4{left:244.521713px;}
.x15{left:253.908722px;}
.x10{left:291.897400px;}
.x6{left:303.113464px;}
.x17{left:304.346176px;}
.x16{left:373.033661px;}
.xf{left:407.278000px;}
.x11{left:426.115219px;}
.x14{left:443.533691px;}
.x20{left:485.218567px;}
.x2{left:498.112122px;}
.x7{left:576.814270px;}
.xa{left:586.162537px;}
.x27{left:631.528748px;}
.x1a{left:673.069519px;}
.x21{left:683.423157px;}
.x1c{left:700.337708px;}
.x26{left:705.561646px;}
.xd{left:711.114990px;}
.x1e{left:718.864136px;}
.x24{left:750.178772px;}
.x12{left:751.615234px;}
.x23{left:779.015991px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-7.345187pt;}
._0{margin-left:-4.596333pt;}
._3{margin-left:-1.927124pt;}
._1{width:1.370667pt;}
._4{width:157.466667pt;}
.fsc{font-size:58.666667pt;}
.fs8{font-size:74.666667pt;}
.fs6{font-size:85.333333pt;}
.fsa{font-size:90.666667pt;}
.fs10{font-size:96.000000pt;}
.fsf{font-size:98.666667pt;}
.fse{font-size:101.333333pt;}
.fs5{font-size:106.666667pt;}
.fs7{font-size:117.333333pt;}
.fs9{font-size:128.000000pt;}
.fs2{font-size:149.333333pt;}
.fs4{font-size:160.000000pt;}
.fsd{font-size:170.666667pt;}
.fs1{font-size:229.333333pt;}
.fsb{font-size:234.666667pt;}
.fs3{font-size:256.000000pt;}
.fs0{font-size:288.000000pt;}
.y44{bottom:-77.099833pt;}
.y4a{bottom:-51.499837pt;}
.y36{bottom:-42.972188pt;}
.y0{bottom:0.000000pt;}
.yab{bottom:9.982279pt;}
.yc4{bottom:13.515381pt;}
.y2e{bottom:22.305745pt;}
.y66{bottom:27.671143pt;}
.yaa{bottom:32.382284pt;}
.ya6{bottom:41.875651pt;}
.y2d{bottom:44.705750pt;}
.y6e{bottom:52.613495pt;}
.y65{bottom:53.271139pt;}
.ya9{bottom:54.782283pt;}
.y7{bottom:61.771459pt;}
.y5b{bottom:62.422872pt;}
.y21{bottom:64.076457pt;}
.y2c{bottom:67.105754pt;}
.y8f{bottom:69.075643pt;}
.y35{bottom:73.187795pt;}
.ya8{bottom:77.182287pt;}
.y43{bottom:77.780141pt;}
.y76{bottom:78.653178pt;}
.y64{bottom:78.871134pt;}
.y6d{bottom:79.813497pt;}
.y80{bottom:86.475911pt;}
.y5a{bottom:88.022878pt;}
.y2b{bottom:89.505753pt;}
.y3d{bottom:96.262156pt;}
.y8e{bottom:96.275640pt;}
.ya5{bottom:97.118998pt;}
.y34{bottom:98.787801pt;}
.ya7{bottom:99.582287pt;}
.y42{bottom:103.380147pt;}
.y75{bottom:104.253174pt;}
.y63{bottom:104.471130pt;}
.yb5{bottom:106.157003pt;}
.y6{bottom:106.571462pt;}
.y7f{bottom:108.875910pt;}
.y8c{bottom:110.968811pt;}
.y2a{bottom:111.905757pt;}
.y59{bottom:113.622879pt;}
.y9a{bottom:118.000387pt;}
.y13{bottom:120.307963pt;}
.y6c{bottom:120.453496pt;}
.y8d{bottom:123.475637pt;}
.y33{bottom:124.387807pt;}
.y41{bottom:128.980153pt;}
.y74{bottom:129.853180pt;}
.y62{bottom:130.071136pt;}
.yc3{bottom:130.900411pt;}
.y7e{bottom:131.275912pt;}
.y27{bottom:132.113383pt;}
.y29{bottom:134.305757pt;}
.y58{bottom:139.222880pt;}
.y20{bottom:139.646403pt;}
.ya4{bottom:143.518982pt;}
.y12{bottom:145.907979pt;}
.y6b{bottom:147.653493pt;}
.y3c{bottom:148.676147pt;}
.yb4{bottom:152.556986pt;}
.y8b{bottom:154.168803pt;}
.y40{bottom:154.580154pt;}
.y73{bottom:155.453186pt;}
.y61{bottom:155.671143pt;}
.yc2{bottom:159.700419pt;}
.y1f{bottom:160.126424pt;}
.y99{bottom:161.200378pt;}
.y32{bottom:163.107808pt;}
.y57{bottom:164.822880pt;}
.y39{bottom:172.635793pt;}
.y3f{bottom:180.180155pt;}
.y72{bottom:181.053192pt;}
.y11{bottom:184.627991pt;}
.y49{bottom:186.779419pt;}
.yc1{bottom:188.500427pt;}
.y31{bottom:188.707808pt;}
.ya3{bottom:189.918966pt;}
.y1e{bottom:193.726440pt;}
.y60{bottom:194.391149pt;}
.y8a{bottom:197.368795pt;}
.yb3{bottom:198.956970pt;}
.y98{bottom:204.400370pt;}
.y3e{bottom:205.780155pt;}
.y71{bottom:206.653193pt;}
.y38{bottom:207.835795pt;}
.y4{bottom:209.928060pt;}
.y10{bottom:210.227987pt;}
.y1d{bottom:214.206462pt;}
.yc0{bottom:217.300456pt;}
.y7c{bottom:217.935771pt;}
.y5f{bottom:219.991150pt;}
.y26{bottom:224.913371pt;}
.y70{bottom:232.253194pt;}
.ya2{bottom:236.318949pt;}
.y48{bottom:236.821378pt;}
.y89{bottom:240.568787pt;}
.yb2{bottom:245.356954pt;}
.y5e{bottom:245.591150pt;}
.y37{bottom:246.192164pt;}
.y97{bottom:247.600362pt;}
.y1c{bottom:247.806478pt;}
.yf{bottom:248.947978pt;}
.y54{bottom:256.913391pt;}
.y6f{bottom:257.853194pt;}
.y1b{bottom:268.286499pt;}
.ye{bottom:274.547974pt;}
.ybf{bottom:274.900431pt;}
.ya1{bottom:282.718953pt;}
.y88{bottom:283.768778pt;}
.y96{bottom:290.800354pt;}
.yb1{bottom:291.756958pt;}
.y3{bottom:296.328064pt;}
.yd{bottom:300.147970pt;}
.y6a{bottom:300.394368pt;}
.y1a{bottom:301.886515pt;}
.y7b{bottom:303.313375pt;}
.ybe{bottom:303.700419pt;}
.y25{bottom:317.713379pt;}
.y19{bottom:322.366516pt;}
.y14{bottom:325.747965pt;}
.y87{bottom:326.968770pt;}
.ya0{bottom:329.118958pt;}
.y95{bottom:334.000346pt;}
.yb0{bottom:338.156962pt;}
.yc{bottom:338.867971pt;}
.y24{bottom:349.713379pt;}
.y53{bottom:349.713399pt;}
.y47{bottom:351.392639pt;}
.y18{bottom:355.966512pt;}
.y51{bottom:356.220479pt;}
.ybd{bottom:361.300395pt;}
.yb{bottom:364.467977pt;}
.y86{bottom:370.168762pt;}
.y79{bottom:371.095815pt;}
.y9f{bottom:375.518962pt;}
.y17{bottom:376.446513pt;}
.y94{bottom:377.200338pt;}
.y3b{bottom:380.461538pt;}
.y52{bottom:381.713389pt;}
.y2{bottom:382.728068pt;}
.yaf{bottom:384.556966pt;}
.y7a{bottom:396.113383pt;}
.y78{bottom:396.695816pt;}
.y50{bottom:402.620483pt;}
.y69{bottom:402.794383pt;}
.ya{bottom:404.144358pt;}
.y46{bottom:405.076558pt;}
.y16{bottom:410.811625pt;}
.y85{bottom:413.368764pt;}
.ybc{bottom:418.900401pt;}
.y93{bottom:420.400340pt;}
.y9e{bottom:421.918955pt;}
.yae{bottom:430.956960pt;}
.y3a{bottom:434.145457pt;}
.y4f{bottom:434.620483pt;}
.y77{bottom:435.415816pt;}
.y23{bottom:442.513392pt;}
.ybb{bottom:447.700409pt;}
.y15{bottom:453.136553pt;}
.y9{bottom:453.450523pt;}
.y84{bottom:456.568761pt;}
.y92{bottom:463.600337pt;}
.y68{bottom:464.554387pt;}
.y9d{bottom:468.318960pt;}
.y1{bottom:469.128067pt;}
.y22{bottom:474.513392pt;}
.yad{bottom:477.356964pt;}
.y4e{bottom:481.020493pt;}
.y83{bottom:499.768756pt;}
.yba{bottom:505.300415pt;}
.y91{bottom:506.800331pt;}
.y4d{bottom:513.020493pt;}
.y9c{bottom:514.718959pt;}
.yac{bottom:523.756963pt;}
.yb9{bottom:534.100416pt;}
.y5c{bottom:534.875519pt;}
.y8{bottom:550.834605pt;}
.y2f{bottom:573.275518pt;}
.yb8{bottom:575.920807pt;}
.y90{bottom:578.461533pt;}
.y28{bottom:579.600800pt;}
.y81{bottom:579.758034pt;}
.y4b{bottom:584.123500pt;}
.y56{bottom:585.572210pt;}
.yb6{bottom:587.499537pt;}
.y45{bottom:592.923599pt;}
.yb7{bottom:619.974663pt;}
.y9b{bottom:620.642799pt;}
.y5d{bottom:620.710935pt;}
.y7d{bottom:621.592405pt;}
.y4c{bottom:622.685315pt;}
.y67{bottom:623.241956pt;}
.y82{bottom:625.089099pt;}
.y55{bottom:627.494764pt;}
.y30{bottom:627.941175pt;}
.y5{bottom:639.423841pt;}
.h10{height:42.739583pt;}
.h15{height:54.395833pt;}
.ha{height:59.536458pt;}
.h7{height:62.166667pt;}
.hd{height:66.052083pt;}
.h18{height:69.937500pt;}
.h17{height:71.880208pt;}
.hf{height:77.041667pt;}
.h12{height:77.708333pt;}
.h16{height:91.486979pt;}
.h14{height:93.250000pt;}
.h9{height:96.302083pt;}
.h6{height:102.968750pt;}
.h8{height:113.265625pt;}
.hb{height:115.562500pt;}
.h13{height:134.822917pt;}
.h3{height:144.156250pt;}
.hc{height:144.453125pt;}
.h11{height:154.083333pt;}
.h5{height:154.453125pt;}
.he{height:211.864583pt;}
.h2{height:221.382812pt;}
.h4{height:247.125000pt;}
.h1{height:278.015625pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.xc{left:19.812592pt;}
.x8{left:22.709106pt;}
.x25{left:28.030863pt;}
.x2a{left:30.356771pt;}
.x1b{left:33.514954pt;}
.x1f{left:35.135539pt;}
.x22{left:42.025513pt;}
.x28{left:45.089355pt;}
.x18{left:46.537638pt;}
.x1{left:48.885701pt;}
.x3{left:52.739950pt;}
.x1d{left:54.280843pt;}
.x19{left:58.279887pt;}
.x5{left:66.452799pt;}
.xb{left:70.876750pt;}
.xe{left:78.025513pt;}
.x29{left:122.695943pt;}
.x9{left:256.941101pt;}
.x13{left:290.812012pt;}
.x4{left:326.028951pt;}
.x15{left:338.544963pt;}
.x10{left:389.196533pt;}
.x6{left:404.151286pt;}
.x17{left:405.794902pt;}
.x16{left:497.378215pt;}
.xf{left:543.037333pt;}
.x11{left:568.153625pt;}
.x14{left:591.378255pt;}
.x20{left:646.958089pt;}
.x2{left:664.149495pt;}
.x7{left:769.085693pt;}
.xa{left:781.550049pt;}
.x27{left:842.038330pt;}
.x1a{left:897.426025pt;}
.x21{left:911.230876pt;}
.x1c{left:933.783610pt;}
.x26{left:940.748861pt;}
.xd{left:948.153320pt;}
.x1e{left:958.485514pt;}
.x24{left:1000.238363pt;}
.x12{left:1002.153646pt;}
.x23{left:1038.687988pt;}
}
