.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.173340;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.926270;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.113281;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.988281;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.798340;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-3.268811px;}
._1{width:2.539939px;}
._2{width:3.560000px;}
.fc5{color:rgb(0,176,80);}
.fc4{color:rgb(124,10,98);}
.fc0{color:rgb(242,242,242);}
.fc3{color:rgb(0,0,0);}
.fc1{color:rgb(255,255,255);}
.fc2{color:rgb(74,168,231);}
.fs8{font-size:60.000000px;}
.fs2{font-size:72.000000px;}
.fsa{font-size:76.000000px;}
.fs5{font-size:80.000000px;}
.fs6{font-size:88.000000px;}
.fs9{font-size:96.000000px;}
.fs4{font-size:104.000000px;}
.fs1{font-size:128.000000px;}
.fs7{font-size:160.000000px;}
.fs3{font-size:192.000000px;}
.fs0{font-size:216.000000px;}
.y24{bottom:-82.247467px;}
.y0{bottom:0.000000px;}
.y23{bottom:22.152496px;}
.y1a{bottom:45.183990px;}
.y41{bottom:56.894936px;}
.y43{bottom:57.644936px;}
.y22{bottom:61.504913px;}
.y37{bottom:73.044388px;}
.y3{bottom:87.351166px;}
.y36{bottom:107.844376px;}
.y21{bottom:115.752441px;}
.y2{bottom:125.751169px;}
.y19{bottom:135.296173px;}
.y12{bottom:136.585510px;}
.y20{bottom:139.752441px;}
.y35{bottom:164.484390px;}
.y18{bottom:170.096161px;}
.y11{bottom:171.385513px;}
.y1f{bottom:179.104889px;}
.y34{bottom:199.284393px;}
.y17{bottom:204.896164px;}
.yb{bottom:206.185486px;}
.y10{bottom:206.185516px;}
.y4f{bottom:210.421265px;}
.y55{bottom:213.291252px;}
.y1{bottom:213.888218px;}
.y4e{bottom:232.021271px;}
.y1e{bottom:233.352440px;}
.y33{bottom:234.084396px;}
.y16{bottom:239.696167px;}
.ya{bottom:240.985489px;}
.yf{bottom:240.985519px;}
.y54{bottom:248.091255px;}
.y4d{bottom:253.621277px;}
.y1d{bottom:268.152443px;}
.y32{bottom:268.884399px;}
.y15{bottom:274.496170px;}
.y4c{bottom:275.221283px;}
.y9{bottom:275.592293px;}
.ye{bottom:275.785522px;}
.y28{bottom:281.684494px;}
.y53{bottom:282.891258px;}
.y46{bottom:290.255257px;}
.y4b{bottom:296.821289px;}
.y1c{bottom:302.759237px;}
.y31{bottom:303.684402px;}
.y52{bottom:317.691261px;}
.y4a{bottom:318.421295px;}
.y2d{bottom:330.764076px;}
.y14{bottom:331.378883px;}
.y8{bottom:332.232288px;}
.yd{bottom:332.232319px;}
.y3c{bottom:337.934498px;}
.y49{bottom:340.021290px;}
.y45{bottom:340.421089px;}
.y27{bottom:351.284492px;}
.y51{bottom:352.491264px;}
.y2c{bottom:358.364075px;}
.y3b{bottom:359.534496px;}
.y30{bottom:360.096783px;}
.y48{bottom:361.621288px;}
.y7{bottom:368.340061px;}
.yc{bottom:368.340092px;}
.y13{bottom:369.930729px;}
.y40{bottom:370.633141px;}
.y3e{bottom:376.734077px;}
.y42{bottom:379.028496px;}
.y5a{bottom:380.245331px;}
.y3a{bottom:381.134495px;}
.y5{bottom:383.107674px;}
.y47{bottom:383.221287px;}
.y2b{bottom:385.964074px;}
.y26{bottom:386.084496px;}
.y3d{bottom:388.202904px;}
.y44{bottom:389.368118px;}
.y2f{bottom:394.363052px;}
.y59{bottom:395.931393px;}
.y4{bottom:404.707674px;}
.y50{bottom:409.809914px;}
.y56{bottom:412.166714px;}
.y6{bottom:413.125954px;}
.y29{bottom:415.269672px;}
.y25{bottom:420.691290px;}
.y3f{bottom:424.963142px;}
.y39{bottom:424.963211px;}
.y57{bottom:450.508949px;}
.y2e{bottom:451.040993px;}
.y58{bottom:455.047615px;}
.y1b{bottom:457.994148px;}
.y38{bottom:466.194304px;}
.y2a{bottom:470.955881px;}
.h3{height:51.539062px;}
.he{height:56.179688px;}
.hb{height:57.919922px;}
.h9{height:58.242188px;}
.hf{height:62.421875px;}
.hd{height:68.615234px;}
.h7{height:72.226562px;}
.h6{height:77.226562px;}
.h8{height:84.949219px;}
.hc{height:92.671875px;}
.h5{height:100.394531px;}
.h2{height:123.562500px;}
.ha{height:154.453125px;}
.h4{height:185.343750px;}
.h1{height:208.511719px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x17{left:13.034566px;}
.x2{left:15.205040px;}
.x13{left:17.700706px;}
.x14{left:20.185749px;}
.x11{left:25.597240px;}
.x9{left:28.306702px;}
.x10{left:30.896790px;}
.xe{left:35.095825px;}
.xd{left:38.487335px;}
.x4{left:42.958588px;}
.xa{left:44.874512px;}
.x1{left:49.205139px;}
.xb{left:52.874512px;}
.x1a{left:94.616486px;}
.x1b{left:139.936691px;}
.x8{left:171.300491px;}
.x7{left:177.334717px;}
.xc{left:194.003128px;}
.x3{left:244.521713px;}
.x1d{left:302.777466px;}
.x5{left:313.384155px;}
.x1c{left:377.636154px;}
.x18{left:399.216858px;}
.x15{left:457.515289px;}
.x16{left:469.337799px;}
.x12{left:567.099609px;}
.x6{left:614.533325px;}
.xf{left:621.961853px;}
.x19{left:786.319702px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-4.358415pt;}
._1{width:3.386585pt;}
._2{width:4.746667pt;}
.fs8{font-size:80.000000pt;}
.fs2{font-size:96.000000pt;}
.fsa{font-size:101.333333pt;}
.fs5{font-size:106.666667pt;}
.fs6{font-size:117.333333pt;}
.fs9{font-size:128.000000pt;}
.fs4{font-size:138.666667pt;}
.fs1{font-size:170.666667pt;}
.fs7{font-size:213.333333pt;}
.fs3{font-size:256.000000pt;}
.fs0{font-size:288.000000pt;}
.y24{bottom:-109.663289pt;}
.y0{bottom:0.000000pt;}
.y23{bottom:29.536662pt;}
.y1a{bottom:60.245321pt;}
.y41{bottom:75.859914pt;}
.y43{bottom:76.859914pt;}
.y22{bottom:82.006551pt;}
.y37{bottom:97.392517pt;}
.y3{bottom:116.468221pt;}
.y36{bottom:143.792501pt;}
.y21{bottom:154.336589pt;}
.y2{bottom:167.668226pt;}
.y19{bottom:180.394897pt;}
.y12{bottom:182.114014pt;}
.y20{bottom:186.336589pt;}
.y35{bottom:219.312520pt;}
.y18{bottom:226.794881pt;}
.y11{bottom:228.514018pt;}
.y1f{bottom:238.806519pt;}
.y34{bottom:265.712524pt;}
.y17{bottom:273.194885pt;}
.yb{bottom:274.913981pt;}
.y10{bottom:274.914022pt;}
.y4f{bottom:280.561686pt;}
.y55{bottom:284.388336pt;}
.y1{bottom:285.184291pt;}
.y4e{bottom:309.361694pt;}
.y1e{bottom:311.136587pt;}
.y33{bottom:312.112528pt;}
.y16{bottom:319.594889pt;}
.ya{bottom:321.313985pt;}
.yf{bottom:321.314026pt;}
.y54{bottom:330.788340pt;}
.y4d{bottom:338.161702pt;}
.y1d{bottom:357.536591pt;}
.y32{bottom:358.512533pt;}
.y15{bottom:365.994893pt;}
.y4c{bottom:366.961711pt;}
.y9{bottom:367.456390pt;}
.ye{bottom:367.714030pt;}
.y28{bottom:375.579325pt;}
.y53{bottom:377.188344pt;}
.y46{bottom:387.007009pt;}
.y4b{bottom:395.761719pt;}
.y1c{bottom:403.678983pt;}
.y31{bottom:404.912537pt;}
.y52{bottom:423.588348pt;}
.y4a{bottom:424.561727pt;}
.y2d{bottom:441.018768pt;}
.y14{bottom:441.838511pt;}
.y8{bottom:442.976384pt;}
.yd{bottom:442.976425pt;}
.y3c{bottom:450.579330pt;}
.y49{bottom:453.361720pt;}
.y45{bottom:453.894786pt;}
.y27{bottom:468.379323pt;}
.y51{bottom:469.988352pt;}
.y2c{bottom:477.818766pt;}
.y3b{bottom:479.379328pt;}
.y30{bottom:480.129044pt;}
.y48{bottom:482.161718pt;}
.y7{bottom:491.120082pt;}
.yc{bottom:491.120122pt;}
.y13{bottom:493.240972pt;}
.y40{bottom:494.177521pt;}
.y3e{bottom:502.312103pt;}
.y42{bottom:505.371328pt;}
.y5a{bottom:506.993774pt;}
.y3a{bottom:508.179326pt;}
.y5{bottom:510.810232pt;}
.y47{bottom:510.961716pt;}
.y2b{bottom:514.618766pt;}
.y26{bottom:514.779327pt;}
.y3d{bottom:517.603872pt;}
.y44{bottom:519.157491pt;}
.y2f{bottom:525.817403pt;}
.y59{bottom:527.908524pt;}
.y4{bottom:539.610232pt;}
.y50{bottom:546.413218pt;}
.y56{bottom:549.555618pt;}
.y6{bottom:550.834605pt;}
.y29{bottom:553.692897pt;}
.y25{bottom:560.921720pt;}
.y3f{bottom:566.617523pt;}
.y39{bottom:566.617615pt;}
.y57{bottom:600.678599pt;}
.y2e{bottom:601.387990pt;}
.y58{bottom:606.730153pt;}
.y1b{bottom:610.658864pt;}
.y38{bottom:621.592405pt;}
.y2a{bottom:627.941175pt;}
.h3{height:68.718750pt;}
.he{height:74.906250pt;}
.hb{height:77.226562pt;}
.h9{height:77.656250pt;}
.hf{height:83.229167pt;}
.hd{height:91.486979pt;}
.h7{height:96.302083pt;}
.h6{height:102.968750pt;}
.h8{height:113.265625pt;}
.hc{height:123.562500pt;}
.h5{height:133.859375pt;}
.h2{height:164.750000pt;}
.ha{height:205.937500pt;}
.h4{height:247.125000pt;}
.h1{height:278.015625pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x17{left:17.379421pt;}
.x2{left:20.273387pt;}
.x13{left:23.600942pt;}
.x14{left:26.914332pt;}
.x11{left:34.129654pt;}
.x9{left:37.742269pt;}
.x10{left:41.195719pt;}
.xe{left:46.794434pt;}
.xd{left:51.316447pt;}
.x4{left:57.278117pt;}
.xa{left:59.832682pt;}
.x1{left:65.606852pt;}
.xb{left:70.499349pt;}
.x1a{left:126.155314pt;}
.x1b{left:186.582255pt;}
.x8{left:228.400655pt;}
.x7{left:236.446289pt;}
.xc{left:258.670837pt;}
.x3{left:326.028951pt;}
.x1d{left:403.703288pt;}
.x5{left:417.845540pt;}
.x1c{left:503.514872pt;}
.x18{left:532.289144pt;}
.x15{left:610.020386pt;}
.x16{left:625.783732pt;}
.x12{left:756.132812pt;}
.x6{left:819.377767pt;}
.xf{left:829.282471pt;}
.x19{left:1048.426270pt;}
}
