.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.983398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.871094;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-5.223811px;}
._0{width:78.012000px;}
.fc4{color:rgb(39,26,56);}
.fc0{color:rgb(32,56,100);}
.fc1{color:rgb(47,85,151);}
.fc2{color:rgb(32,33,36);}
.fc3{color:rgb(0,0,0);}
.fs7{font-size:64.000000px;}
.fs6{font-size:72.000000px;}
.fs4{font-size:96.000000px;}
.fs3{font-size:98.000000px;}
.fs0{font-size:112.000000px;}
.fs2{font-size:144.000000px;}
.fs5{font-size:160.000000px;}
.fs1{font-size:216.000000px;}
.y0{bottom:0.000000px;}
.ye{bottom:101.598000px;}
.ya{bottom:125.021942px;}
.y1b{bottom:130.974976px;}
.y9{bottom:158.061951px;}
.y17{bottom:182.011078px;}
.y8{bottom:191.101944px;}
.y12{bottom:202.881107px;}
.y10{bottom:203.710300px;}
.y11{bottom:203.710392px;}
.y16{bottom:217.931076px;}
.y1{bottom:221.950085px;}
.y7{bottom:224.141945px;}
.y1a{bottom:247.614975px;}
.yd{bottom:251.863377px;}
.y15{bottom:253.851078px;}
.y6{bottom:257.181946px;}
.y14{bottom:289.771078px;}
.y5{bottom:290.221947px;}
.y3{bottom:313.898392px;}
.y13{bottom:360.946693px;}
.y4{bottom:364.127251px;}
.y19{bottom:364.254974px;}
.y2{bottom:365.738388px;}
.yf{bottom:396.388439px;}
.yc{bottom:397.467175px;}
.y18{bottom:440.989140px;}
.yb{bottom:449.434246px;}
.h6{height:64.546875px;}
.h4{height:67.901367px;}
.h1{height:100.406250px;}
.h3{height:129.093750px;}
.h5{height:143.437500px;}
.h2{height:208.511719px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x7{left:16.533325px;}
.xa{left:20.878036px;}
.x4{left:116.618225px;}
.xf{left:123.181183px;}
.x5{left:127.200012px;}
.x2{left:211.552277px;}
.xd{left:213.930725px;}
.x1{left:222.526108px;}
.x8{left:236.180725px;}
.x3{left:241.239777px;}
.xe{left:281.951492px;}
.x6{left:306.243210px;}
.xb{left:363.992126px;}
.x9{left:578.112000px;}
.xc{left:643.922363px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-6.965081pt;}
._0{width:104.016000pt;}
.fs7{font-size:85.333333pt;}
.fs6{font-size:96.000000pt;}
.fs4{font-size:128.000000pt;}
.fs3{font-size:130.666667pt;}
.fs0{font-size:149.333333pt;}
.fs2{font-size:192.000000pt;}
.fs5{font-size:213.333333pt;}
.fs1{font-size:288.000000pt;}
.y0{bottom:0.000000pt;}
.ye{bottom:135.463999pt;}
.ya{bottom:166.695923pt;}
.y1b{bottom:174.633301pt;}
.y9{bottom:210.749268pt;}
.y17{bottom:242.681437pt;}
.y8{bottom:254.802592pt;}
.y12{bottom:270.508143pt;}
.y10{bottom:271.613734pt;}
.y11{bottom:271.613856pt;}
.y16{bottom:290.574768pt;}
.y1{bottom:295.933446pt;}
.y7{bottom:298.855927pt;}
.y1a{bottom:330.153300pt;}
.yd{bottom:335.817835pt;}
.y15{bottom:338.468104pt;}
.y6{bottom:342.909261pt;}
.y14{bottom:386.361437pt;}
.y5{bottom:386.962596pt;}
.y3{bottom:418.531189pt;}
.y13{bottom:481.262258pt;}
.y4{bottom:485.503001pt;}
.y19{bottom:485.673299pt;}
.y2{bottom:487.651184pt;}
.yf{bottom:528.517919pt;}
.yc{bottom:529.956233pt;}
.y18{bottom:587.985519pt;}
.yb{bottom:599.245661pt;}
.h6{height:86.062500pt;}
.h4{height:90.535156pt;}
.h1{height:133.875000pt;}
.h3{height:172.125000pt;}
.h5{height:191.250000pt;}
.h2{height:278.015625pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x7{left:22.044434pt;}
.xa{left:27.837382pt;}
.x4{left:155.490967pt;}
.xf{left:164.241577pt;}
.x5{left:169.600016pt;}
.x2{left:282.069702pt;}
.xd{left:285.240967pt;}
.x1{left:296.701477pt;}
.x8{left:314.907633pt;}
.x3{left:321.653035pt;}
.xe{left:375.935323pt;}
.x6{left:408.324280pt;}
.xb{left:485.322835pt;}
.x9{left:770.815999pt;}
.xc{left:858.563151pt;}
}
